// Abtracts
@use "abstracts/index" as *;

// Base
@use 'base/reset';
@use 'base/global';

// Components
@use 'components/buttons';
@use 'components/header';
@use 'components/hero';
@use 'components/sobre-mi';
@use 'components/skills';
@use 'components/proyectos';
@use 'components/contacto';
@use 'components/footer';
@use 'components/proyecto-detalle';
