@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.bg-custom {
  @include button-base();
  background-color: $light-primary;
  color: $light-text;

  &:hover {
    background-color: $light-primary-hover;
    color: $light-text-hover;
  }

  // DARK MODE
  .dark-mode & {
    background-color: $dark-primary;
    color: $dark-text;

    &:hover {
      background-color: $dark-primary-hover;
      color: $dark-text-hover;
    }
  }
}

.padding-button {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  @include transition(background-color .3s, color .3s);
}
