@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.footer {
  background-color: $light-background;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .dark-mode & {
    background-color: $dark-background;
  }

  p {
    font-size: 0.9rem;
    color: $light-muted;

    .dark-mode & {
      color: $dark-muted;
    }
  }

  .social-links a {
    color: $light-primary;
    text-decoration: none;
    margin: 0 0.5rem;
    @include transition(color .3s);

    &:hover {
      color: $light-primary-hover;
    }

    .dark-mode & {
      color: $dark-primary;

      &:hover {
        color: $dark-primary-hover;
      }
    }
  }
}
