@use '../abstracts/variables' as *;

header {
  background-color: $light-background;
  color: $light-text;

  // DARK MODE
  .dark-mode & {
    background-color: $dark-background;
    color: $dark-text;
  }

  nav {
    ul {
      li {
        a {
          color: $light-text;
          text-decoration: none;

          &:hover {
            color: $light-text-hover;
            text-decoration: underline;
          }

          // DARK MODE
          .dark-mode & {
            color: $dark-text;

            &:hover {
              color: $dark-text-hover;
            }
          }
        }
      }
    }
  }
}
