@use '../abstracts' as *;

.hero {
  background-color: $light-secondary;
  color: $light-text;
  text-align: center;
  padding: 50px 20px;
  height: 50vh;
  @extend %flex-center;
  flex-direction: column;
  justify-content: end;

  // DARK MODE
  .dark-mode & {
    background-color: $dark-secondary;
    color: $dark-text;
  }

  h2 {
    font-size: 28px;

    .dark-mode & {
      color: $dark-text;
    }
  }

  p {
    margin: 10px 0;
    color: $light-muted;
    .dark-mode & {
      color: $dark-muted;
    }
  }
}
