.proyecto-detalle {
  display: grid;
  grid-template-areas:
    "titulo"
    "imagen"
    "descripcion"
    "tecnologias"
    "btn";
  grid-gap: 1.5rem;
  max-width: 80vw;
  margin: 2rem auto;
  padding: 4rem 2rem;
  background-color: $color-background-light;
  border-radius: 8px;

  .tech-card {
    padding: 1rem;
    border-radius: 12px;
    background: #fafafa;
    width: 100%;
  }

  .tech {
    transition: color 0.25s ease;
    cursor: pointer;
  }

  .tech:hover {
    color: black;
  }

  h2 {
    grid-area: titulo;
    font-size: 2rem;
    text-align: center;
    color: $color-background-dark;
  }

  img {
    grid-area: imagen;
    width: 100%;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
  }

  p:first-of-type {
    grid-area: descripcion;
    font-size: 1.1rem;
    line-height: 1.6;
    color: $color-text-muted;
  }

  div:last-of-type {
    grid-area: tecnologias;
    font-size: 1rem;
    font-weight: bold;
    color: $color-text-dark;
  }

  .btn {
    grid-area: btn;
    @include button-base();
    background-color: $color-primary;
    color: $color-text-light;
    padding: 0.75rem 1.5rem;
    text-align: center;
    justify-self: center;

    &:hover {
      background-color: $color-primary-hover;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titulo titulo"
      "imagen descripcion"
      "tecnologias tecnologias"
      "btn btn";
    grid-gap: 2rem;

    h2,
    p {
      text-align: left;
    }
  }
}