@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.proyecto-detalle {
  display: grid;
  grid-template-areas:
    "titulo"
    "imagen"
    "descripcion"
    "desafios"
    "tecnologias"
    "btn";
  grid-gap: 1.5rem;
  max-width: 80vw;
  margin: 2rem auto;
  padding: 4rem 2rem;
  background-color: $light-background;
  border-radius: 8px;

  .dark-mode & {
    background-color: $dark-background;
  }

  /* Tarjetas de tecnologías */
  .tech-card {
    padding: 1rem;
    border-radius: 12px;
    background: #fafafa;

    .dark-mode & {
      background: #1f1f1f;
    }

    width: 100%;
  }

  /* Elementos tech individuales */
  .tech {
    transition: color 0.25s ease;
    cursor: pointer;
    color: $light-muted;

    &:hover {
      color: $light-text-hover;
    }

    .dark-mode & {
      color: $dark-text;

      &:hover {
        color: $dark-text-hover;
      }
    }
  }

  /* Título */
  h2 {
    grid-area: titulo;
    font-size: 2rem;
    text-align: center;
    color: $light-text;

    .dark-mode & {
      color: $dark-text;
    }
  }

  /* Imagen */
  img {
    grid-area: imagen;
    width: 100%;
    height: 280px;
    border-radius: 8px;
    object-fit: cover;
  }

  /* Descripción */
  p:first-of-type {
    grid-area: descripcion;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: $light-muted;

    .dark-mode & {
      color: $dark-muted;
    }
  }

  /* Desafíos */
  section:last-of-type {
    grid-area: desafios;
  }

  /* Tecnologías usadas */
  div:last-of-type {
    grid-area: tecnologias;
    font-size: 1rem;
    font-weight: bold;
    color: $light-text;

    .dark-mode & {
      color: $dark-text;
    }
  }

  /* Botón */
  .btn {
    grid-area: btn;
    @include button-base();
    background-color: $light-primary;
    color: $light-text;
    padding: 0.75rem 1.5rem;
    text-align: center;
    justify-self: center;

    &:hover {
      background-color: $light-primary-hover;
    }

    .dark-mode & {
      background-color: $dark-primary;
      color: $dark-text;

      &:hover {
        background-color: $dark-primary-hover;
        color: $dark-text-hover;
      }
    }
  }

  /* Layout responsivo */
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "titulo titulo"
      "imagen descripcion"
      "desafios desafios"
      "tecnologias tecnologias"
      "btn btn";
    grid-gap: 2rem;

    h2,
    p {
      text-align: left;
    }
  }
}
