/* ----------------------------------------------------
   FUNCIONES
---------------------------------------------------- */
@function dark($color) {
  @return darken($color, 10%);
}

#skillsAccordion {
  .accordion-item {
    border: 1px solid $color-text-muted;
    border-radius: 12px;
    margin-bottom: 1rem;
    overflow: hidden;
    background: $color-background-light;
    transition: all 0.2s ease;
  }

  .accordion-button {
    font-weight: 600;
    font-size: 1.1rem;
    background: $color-background-light;
    color: $color-text-dark;
    padding: 1rem 1.2rem;
    transition: background 0.2s ease;

    &:not(.collapsed) {
      background: $color-background-light;
      color: $color-text-dark;
    }
  }
}

.skill-frontend .accordion-button {
  border-left: 6px solid $frontend-color;
}

.skill-backend .accordion-button {
  border-left: 6px solid $backend-color;
}

.skill-database .accordion-button {
  border-left: 6px solid $database-color;
}

.skill-devops .accordion-button {
  border-left: 6px solid $devops-color;
}

.skill-mobile .accordion-button {
  border-left: 6px solid $mobile-color;
}

.skill-design .accordion-button {
  border-left: 6px solid $design-color;
}

.skill-cms .accordion-button {
  border-left: 6px solid $cms-color;
}


.list-group-item {
  border: none;
  padding: 10px 14px 10px 5px;
  background: transparent;
  color: $color-text-dark;
  font-size: 0.95rem;
  transition: color 0.2s ease, background 0.2s ease;

  &:hover {
    color: #000;
    background: rgba(0, 0, 0, 0.05);
  }

  .tech-color {
    padding: 6px 6px 6px 5px;
    border-radius: 4px;
    &:hover {
      font-weight: 400;
      background-color: $color-background-dark;
      color: $color-text-light;
    }
  }
}

/* Lista limpia */
.accordion-body .list-group {
  border: none;
  box-shadow: none;
}


.frontend {
  background: $frontend-color;

  &:hover {
    background: dark($frontend-color);
  }
}

.backend {
  background: $backend-color;

  &:hover {
    background: dark($backend-color);
  }
}

.database {
  background: $database-color;

  &:hover {
    background: dark($database-color);
  }
}

.devops {
  background: $devops-color;

  &:hover {
    background: dark($devops-color);
  }
}

.design {
  background: $design-color;

  &:hover {
    background: dark($design-color);
  }
}