@use '../abstracts/variables' as *;

.sobre-mi {
  width: 100%;
  padding: 6rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $light-text;
  background-color: $light-secondary;

  // DARK MODE
  .dark-mode & {
    color: $dark-text;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;

    .dark-mode & {
      color: $dark-text;
    }
  }

  p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.8;
    color: $light-muted;
    text-align: left;

    // DARK MODE
    .dark-mode & {
      color: $dark-muted;
    }
  }

  @media (max-width: 768px) {
    padding: 4rem 1rem;
  }
}
