/* ===========================
   BODY GLOBAL
=========================== */
@use '../abstracts/variables' as *;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $light-background;
  color: $light-text;
  line-height: 1.6;

  // DARK MODE
  &.dark-mode {
    background-color: $dark-background;
    color: $dark-text;
  }
}

/* ===========================
   TITULOS DE SECCIÓN
=========================== */


p {
  font-size: 16px;
  color: $light-muted;

  .dark-mode & {
    color: $dark-muted;
  }
}

section h2 {
  color: $light-text;
  margin-bottom: 15px;
  font-size: 22px;
  text-align: center;

  .dark-mode & {
    color: $dark-text;
  }
}

/* ===========================
   Animaciones Globales
=========================== */

/* Fade-in general */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.8s ease-out forwards;
}

/* Retrasos reutilizables */
.delay-1 {
  animation-delay: 0.2s;
}

.delay-2 {
  animation-delay: 0.4s;
}

.delay-3 {
  animation-delay: 0.6s;
}

/* Zoom-in suave */
.zoom-in {
  opacity: 0;
  transform: scale(0.95);
  animation: zoomIn 0.7s ease-out forwards;
}

/* Efecto hover en tarjetas */
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

/* Animaciones keyframes */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}